<section id="solution" class="with_background direct_solutions fixed_menu_margin">
  <div class="container">
    <div class="col-sm-12 text-center">
      <h1>Настройка Яндекс.Директа</h1>
      <div class="btn-group">
        <div class="green_separator"></div>
      </div>
    </div>

    <div class="col-sm-12 text-center team_description">
      <h2><%= t('direct_description').html_safe %></h2>
    </div>

    <div class="col-sm-12 text-center">

      <div class="col-sm-4 vcenter problems_block">
        <div class="col-sm-12 regular_text">
          <h3>Без нас</h3>
          <div class="btn-group">
            <div class="green_separator"></div>
          </div>
        </div>

        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <%= t('problem_3') %>
        </div>

        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <%= t('problem_direct_3') %>
        </div>
        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <%= t('problem_direct_1') %>
        </div>
        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <%= t('problem_1') %>
        </div>
      </div>

      <div class="col-sm-4 vcenter problems_block">
        <%= image_tag "man_solution.png", class: "img-responsive man_image" %>
      </div>

      <div class="col-sm-4 vcenter problems_block">
        <div class="col-sm-12 regular_text">
          <h3>С нами</h3>
          <div class="btn-group">
            <div class="green_separator"></div>
          </div>
        </div>

        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <%= t('solution_direct_3') %>
        </div>
        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <%= t('solution_direct_4') %>
        </div>

        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <%= t('solution_direct_1') %>
        </div>
        <div class="col-sm-12 regular_text">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <%= t('solution_direct_2') %>
        </div>
      </div>

    </div>

    <div class="col-sm-12 text-center">
      <div class="btn-group">
        <a class="btn btn-default btn-custom button_for_modal" href="#" data-toggle="modal" data-target="#worker_modal" data-trigger="<%= t('leave_application') %>"><span><%= t('leave_application') %></span></a>
      </div>
    </div>

  </div>
</section>

<section id="direct_prices">
  <div class="container">
    <div class="col-sm-12 text-center">
      <h2><%= t('direct_prices_heading') %></h2>
      <div class="btn-group">
        <div class="green_separator"></div>
      </div>
    </div>

    <div class="col-sm-12 table-responsive">
      <table class="table table-striped table-responsive text-center">
        <thead>
          <tr>
            <th class="text-center"></th>
            <th class="text-center"><%= t('direct_plan_1') %></th>
            <th class="text-center"><%= t('direct_plan_2') %></th>
            <th class="text-center"><%= t('direct_plan_3') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><strong>5 000 <%= t('direct_keywords') %></strong></td>
            <td><strong>10 000 <%= t('direct_keywords') %></strong></td>
            <td><strong>25 000 <%= t('direct_keywords') %></strong></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_audit') %></th>
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_recomendations') %></th>
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_free') %></th>
            <td>1 <%= t('direct_week') %></td>
            <td>2 <%= t('direct_weeks') %></td>
            <td>1 <%= t('direct_month') %></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_utm') %></th>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_quick_links') %></th>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_analyse') %></th>
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_rsa') %></th>
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_metrics') %></th>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_mind_map') %></th>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_work_time') %></th>
            <td>2 <%= t('direct_day') %></td>
            <td>3 <%= t('direct_day') %></td>
            <td>5 <%= t('direct_days') %></td>
          </tr>

          <tr>
            <th scope="row"><%= t('direct_price') %></th>
            <td><span class="green_text"><strong>25 000 <%= t('direct_rub') %></strong></span></td>
            <td><span class="green_text"><strong>50 000 <%= t('direct_rub') %></strong></span></td>
            <td><span class="green_text"><strong>100 000 <%= t('direct_rub') %></strong></span></td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td>
              <div class="col-sm-12 text-center">
                <div class="btn-group">
                  <a class="btn btn-default btn-custom button_for_modal" href="#" data-toggle="modal" data-target="#direct_modal" data-trigger="<%= t('direct_plan_1_modal') %>"><span><%= t('order') %></span></a>
                </div>
              </div>
            </td>
            <td>
              <div class="col-sm-12 text-center">
                <div class="btn-group">
                  <a class="btn btn-default btn-custom button_for_modal" href="#" data-toggle="modal" data-target="#direct_modal" data-trigger="<%= t('direct_plan_2_modal') %>"><span><%= t('order') %></span></a>
                </div>
              </div>
            </td>
            <td>
              <div class="col-sm-12 text-center">
                <div class="btn-group">
                  <a class="btn btn-default btn-custom button_for_modal" href="#" data-toggle="modal" data-target="#direct_modal" data-trigger="<%= t('direct_plan_3_modal') %>"><span><%= t('order') %></span></a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
